.header {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 0px 65px;
    top: 0;
  }
  
  .talkToSales {
    padding: 5px 15px;
    border-radius: 50px;
    border: 1px solid var(--gray-400, #98a2b3);
    background: #fff;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  }
  
  .signuP {
    padding: 5px 15px;
    border-radius: 50px;
    background: var(--blue-700, #175cd3);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: var(--base-white, #fff);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  
  button .nav-list {
    cursor: pointer;
  }
  
  .nav-list {
    width: 40%;
  }
  
  .nav-button {
    width: max-content;
    display: flex;
    justify-content: space-between;
    gap: 5px;
  }
  
  .logo {
    cursor: pointer;
    width: max-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: flex;
    gap: 10px;
  }
  
  .nav-item-title {
    color: var(--gray-500, #667085);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
  }
  
  .nav-item {
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
  }
  
  .header-content {
    width: 100%;
    border-radius: 70px;
    border: 1px solid var(--gray-300, #d0d5dd);
    background: var(--gray-100, #f2f4f7);
    padding: 0.7rem 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .nav-list {
    display: flex;
    justify-content: space-between;
  }
  
  .logo-name {
    color: var(--gray-900, #101828);
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  